.article__title {
  text-align: center;
  font-size: 32px;
  font-weight: 800;
}

.article__feature-caption {
  font-size: 14px;
  color: var(--gray-700);
  max-width: 56rem;
  margin: 8px auto 0 auto;
}

.article__meta__media {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}

.article__para {
  font-size: 17px;
  line-height: 24px;
}

.article__para:not(:first-of-type) {
  margin-top: 16px;
}
