.input {
  display: block;
  width: 100%;
  appearance: none;
  background-color: #fff;
  border: 1px solid var(--gray-300);
  border-radius: 6px;
  transition: box-shadow 150ms ease-in-out;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 12px;
}

.input:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
  border-color: #63b3ed;
}
